.loading {
  order: 2;
}

.loading-content {
  align-items: center;
  background-color: rgba(18, 18, 221, 0.877);
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
}
