* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-login {
  background-color: rgba(0, 0, 0, 0.582);
  color: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.form-container {
  align-items: center;
  background-color: black;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 5px rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: center;
  padding: 25vh;
}

h1 {
  padding: 50px;
  text-align: center;
}
