.search-container, .result-title, .album {
  text-align: center;
}

.input-artist {
  border: none;
  border-radius: 3px;
  font-weight: 600;
  margin: 7px 5px;
  outline: none;
  padding: 5px;
  width: 200px;
}

.button-search {
  background-color: rgb(22, 25, 190);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 5px;
  transition: 400ms;
}

.button-search:hover {
  background-color: rgba(9, 13, 243, 0.5);
}

.page-search {
  background-color: #809bce;
  min-height: 100vh;
}

.result-title {
  padding: 10px;
}

.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
  color: black;
  cursor: pointer;
  flex-basis: 30%;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  transition: 400ms;
}

.album:hover {
  background-color: rgba(255, 255, 255, 0.356);
}

.album-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.album-container img {
  max-width: 100px;
}
